Repository recipeify/Recipes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hagaishapira, @LeshemNoa, @guyschwartzberg-student

added the aforementioned quickfix
  api/search.js
Owners: @hagaishapira

Update buttons to navigate correctly
  client/src/components/RecipeList/components/RecipeCard.jsx
Owners: @LeshemNoa

made small changes for eslint
  client/src/components/RecipeList/components/RecipeConsts.js
Owners: @LeshemNoa

bump es-recipes to 1.0 in docker-compose
  .gitignore
  docker-compose.yml
Owners: @hagaishapira

added exterenl recipe navigation on image
  client/.eslintrc.json
  client/src/components/RecipeList/components/RecipeCard.jsx
Owners: @LeshemNoa

changed formatting of the file
  client/src/components/RecipeList/components/RecipeCard.jsx
Owners: @LeshemNoa

added features according to review
  client/src/components/RecipeList/components/RecipeCard.jsx
  client/src/styles.scss
Owners: @LeshemNoa

Update docker-compose.yml
  docker-compose.yml
Owners: @hagaishapira

Update .eslintrc.json
  client/.eslintrc.json
Owners: @LeshemNoa

Update App.test.jsx
  client/src/App.test.jsx
Owners: @LeshemNoa

Added changes according to review
  client/.eslintrc.json
  client/src/components/RecipeList/components/RecipeCard.jsx
Owners: @LeshemNoa

minor changes
  client/.eslintrc.json
  client/src/components/RecipeList/components/RecipeCard.jsx
Owners: @LeshemNoa

Made search boxes generic to integrate extended search
  .vscode/launch.json
  api/.gitignore
  api/ingredients.csv
  api/ingredients.json
  api/package.json
  api/resources.js
  api/resources/cuisine.json
  api/resources/diets.json
  api/resources/events.json
  api/resources/ingredients.json
  api/resources/mealTypes.json
  api/resources/misc.json
  api/resources/tags-filtered.json
  api/search.js
  api/server.js
  client/.gitignore
  client/src/App.test.jsx
  client/src/actions/ingredientsActions.js
  client/src/actions/recipeActions.js
  client/src/actions/resourceActions.js
  client/src/actions/searchActions.js
  client/src/components/Sidebar/FreeTextSearch/FreeTextSearch.jsx
  client/src/components/Sidebar/FreeTextSearch/index.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientSearch.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientTags.jsx
  client/src/components/Sidebar/IngredientSearch/index.js
  client/src/components/Sidebar/PreferenceSelect/PreferenceSelect.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceTag.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceTagGroup.jsx
  client/src/components/Sidebar/PreferenceSelect/index.js
  client/src/components/Sidebar/Sidebar.jsx
  client/src/components/Sidebar/TimeSlider/TimeSlider.jsx
  client/src/components/Sidebar/TimeSlider/index.js
  client/src/components/Sidebar/index.js
  client/src/reducers/ingredientsReducer.js
  client/src/reducers/resourceReducer.js
  client/src/reducers/searchReducer.js
  client/src/redux/reducers.js
  client/src/service/apiRequests.js
  client/src/styles.scss
Owners: @hagaishapira, @LeshemNoa

.github/CODEOWNERS:

* @hagaishapira

/api/ @hagaishapira

/client/ @LeshemNoa

/scraper/ @guyschwartzberg-student
