Repository recipeify/Recipes, pull requests merged in 2020-05, with the labels that each got.

#21 Auto Pull Request Labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github

#19 Migrate to ant
  api/ingredients.json
  api/package.json
  api/server.js
  client/package.json
  client/src/App.jsx
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/components/RecipeCard.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientSearch.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientTags.jsx
  client/src/components/Sidebar/Sidebar.jsx
  client/src/reducers/searchReducer.js
  client/src/styles.scss
  client/yarn.lock
  scraper/simplified.py
Labels: Backend, Frontend, scraper

#28 Auth0 backend
  api/ingredients.json
  api/package.json
  api/server.js
  api/yarn.lock
  client/package.json
  client/src/App.jsx
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/components/RecipeCard.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientSearch.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientTags.jsx
  client/src/components/Sidebar/Sidebar.jsx
  client/src/reducers/searchReducer.js
  client/src/styles.scss
  client/yarn.lock
  docker-compose.yml
  scraper/simplified.py
Labels: Backend, Frontend, scraper

#20 Dockerize Service for Development and Cloud Deployment
  .dockerignore
  Dockerfile
  README.md
  api/.gitignore
  api/.yarnrc
  api/docker.env
  api/package.json
  api/server.js
  api/yarn.lock
  client/.gitignore
  client/.yarnrc
  client/yarn.lock
  docker-compose.yml
Labels: Backend, Frontend, enhancement, infrastructure

#31 Authentication with Auth0 in UI
  api/server.js
  client/package.json
  client/src/App.jsx
  client/src/actions/userActions.js
  client/src/components/MainPage/MainPage.jsx
  client/src/components/Navigation/Navigation.jsx
  client/src/components/Navigation/index.js
  client/src/components/Sidebar/IngredientSearch/IngredientSearch.jsx
  client/src/index.jsx
  client/src/react-auth0-spa.jsx
  client/src/reducers/userReducer.js
  client/src/redux/reducers.js
  client/src/styles.scss
  client/yarn.lock
Labels: Backend, Frontend

#30 Users Routes
  README.md
  api/docker.env
  api/package.json
  api/search.js
  api/server.js
  api/users/userModel.js
  api/users/users.js
  api/yarn.lock
  client/package.json
  client/src/App.jsx
  client/src/actions/userActions.js
  client/src/components/MainPage/MainPage.jsx
  client/src/components/Navigation/Navigation.jsx
  client/src/components/Navigation/index.js
  client/src/components/Sidebar/IngredientSearch/IngredientSearch.jsx
  client/src/index.jsx
  client/src/react-auth0-spa.jsx
  client/src/reducers/userReducer.js
  client/src/redux/reducers.js
  client/src/styles.scss
  client/yarn.lock
  docker-compose.yml
  scraper/.gitignore
Labels: Backend, Frontend

#29 Unified Search API Endpoint
  README.md
  api/docker.env
  api/package.json
  api/search.js
  api/server.js
  api/users/userModel.js
  api/users/users.js
  api/yarn.lock
  client/src/index.jsx
  client/src/service/apiRequests.js
  docker-compose.yml
  scraper/.gitignore
Labels: Backend, Frontend

#22 WIP : automate crawler infrastucture
  .gitignore
  .idea/.gitignore
  scraper/.gitignore
  scraper/__init__.py
  scraper/_abstract.py
  scraper/_utils.py
  scraper/abstractsitemapscraper.py
  scraper/allrecipes.py
  scraper/bbcfood.py
  scraper/bbcgoodfood.py
  scraper/bettycrocker.py
  scraper/bonappetit.py
  scraper/budgetbytes.py
  scraper/cookstr.py
  scraper/copykat.py
  scraper/delish.py
  scraper/epicurious.py
  scraper/food.py
  scraper/foodnetwork.py
  scraper/requirements.txt
  scraper/scraper.py
  scraper/scrapy.log
  scraper/settings.py
  scraper/simplified.py
  scraper/tasty.py
Labels: Backend, Frontend, scraper
