Repository recipeify/Recipes, pull requests merged in 2020-08, with the labels that each got.

#114 Preference dropdown scroll fix
  client/src/components/Sidebar/MainPageSidebar/MainPageSidebar.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceSelect.jsx
  client/src/styles.scss
Labels: Frontend

#117 embed helpdesk widget
  client/public/index.html
  client/public/sitemap.xml
Labels: Frontend, enhancement

#118 Heb holidays and random boxes additions
  api/explore/explore.js
  api/explore/next_holiday_calc.js
  api/explore/random_boxes.json
  api/resources/events.json
Labels: Backend

#121 Added privacy policy page, added link to it and our repo in new site footer
  client/src/App/App.jsx
  client/src/components/MainPage/MainPage.jsx
  client/src/components/Navigation/Navigation.jsx
  client/src/components/Privacy.jsx
  client/src/components/RecipeBook/RecipeBook.jsx
  client/src/components/SiteFooter.jsx
  client/src/styles.scss
Labels: Frontend

#122 Ui fixes
  client/src/components/Explore/ExplorePage.jsx
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
Labels: Frontend

#127 Tweaked scraper code to introduce periodic scraper as a unified module
  scraper/__init__.py
  scraper/_abstract.py
  scraper/_utils.py
  scraper/abstractsitemapscraper.py
  scraper/allrecipes.py
  scraper/bbcfood.py
  scraper/bbcgoodfood.py
  scraper/bettycrocker.py
  scraper/bonappetit.py
  scraper/budgetbytes.py
  scraper/cookstr.py
  scraper/copykat.py
  scraper/delish.py
  scraper/epicurious.py
  scraper/food.py
  scraper/foodnetwork.py
  scraper/recipescraper/__init__.py
  scraper/recipescraper/_abstract.py
  scraper/recipescraper/_schemaorg.py
  scraper/recipescraper/_utils.py
  scraper/recipescraper/allrecipes.py
  scraper/recipescraper/bbcfood.py
  scraper/recipescraper/bbcgoodfood.py
  scraper/recipescraper/bettycrocker.py
  scraper/recipescraper/bonappetit.py
  scraper/recipescraper/budgetbytes.py
  scraper/recipescraper/closetcooking.py
  scraper/recipescraper/cookstr.py
  scraper/recipescraper/copykat.py
  scraper/recipescraper/delish.py
  scraper/recipescraper/epicurious.py
  scraper/recipescraper/food.py
  scraper/recipescraper/foodnetwork.py
  scraper/recipescraper/foodrepublic.py
  scraper/recipescraper/requirements.txt
  scraper/recipescraper/tasty.py
  scraper/requirements.txt
  scraper/scraper.py
  scraper/settings.py
  scraper/simplified.py
  scraper/tasty.py
Labels: scraper

#129 recently viewed should return recipes and not ids
  api/users/users.js
Labels: Backend

#130 quick solution for mobile - force desktop mode
  client/public/index.html
  client/public/privacy.html
Labels: Frontend

#132 fixed time-slider "any" button overflowing
  client/src/components/Sidebar/MainPageSidebar/MainPageSidebar.jsx
  client/src/components/Sidebar/TimeSlider/TimeSlider.jsx
  client/src/styles.scss
Labels: Frontend

#119 Bug fix: only allow unique filters in search
  client/src/reducers/searchReducer.js
Labels: Frontend

#120 Bug fix: redirect to main page when trying a non existing route
  client/src/App/App.jsx
  client/src/components/NotFound.jsx
Labels: Frontend

#128 Some changes: recently viewed endpoint consumed and UI fixes
  api/users/users.js
  client/src/actions/userActions.js
  client/src/components/Explore/ExplorePage.jsx
  client/src/components/Explore/index.js
  client/src/components/RecipeBook/RecipeBook.jsx
  client/src/components/RecipeBook/index.js
  client/src/components/RecipeCarousel.jsx
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
  client/src/components/Sidebar/FreeTextSearch/FreeTextSearch.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceSelect.jsx
  client/src/components/Sidebar/UserPageSidebar/index.js
  client/src/reducers/userReducer.js
  client/src/service/apiRequests.js
  client/src/styles.scss
Labels: Backend, Frontend
