Repository recipeify/Recipes, pull requests merged in 2020-06, with the labels that each got.

#32 Recommendation Intergration
  .gitignore
  README.md
  api/package.json
  api/recommend.js
  api/server.js
  api/users/users.js
  api/yarn.lock
  client/.gitignore
  scraper/recombee_migration.py
  scraper/requirements.txt
Labels: Backend, scraper

#43 Feature/client/recipe overlay
  api/search.js
  client/.eslintrc.json
  client/src/App.test.jsx
  client/src/components/RecipeList/components/RecipeCard.jsx
  client/src/components/RecipeList/components/RecipeConsts.js
  client/src/styles.scss
Labels: Backend, Frontend

#41 Made search boxes generic to integrate extended search
  .vscode/launch.json
  api/.gitignore
  api/ingredients.csv
  api/ingredients.json
  api/package.json
  api/resources.js
  api/resources/cuisine.json
  api/resources/diets.json
  api/resources/events.json
  api/resources/ingredients.json
  api/resources/mealTypes.json
  api/resources/misc.json
  api/resources/tags-filtered.json
  api/search.js
  api/server.js
  client/.gitignore
  client/src/App.test.jsx
  client/src/actions/ingredientsActions.js
  client/src/actions/recipeActions.js
  client/src/actions/resourceActions.js
  client/src/actions/searchActions.js
  client/src/components/Sidebar/FreeTextSearch/FreeTextSearch.jsx
  client/src/components/Sidebar/FreeTextSearch/index.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientSearch.jsx
  client/src/components/Sidebar/IngredientSearch/IngredientTags.jsx
  client/src/components/Sidebar/IngredientSearch/index.js
  client/src/components/Sidebar/PreferenceSelect/PreferenceSelect.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceTag.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceTagGroup.jsx
  client/src/components/Sidebar/PreferenceSelect/index.js
  client/src/components/Sidebar/Sidebar.jsx
  client/src/components/Sidebar/TimeSlider/TimeSlider.jsx
  client/src/components/Sidebar/TimeSlider/index.js
  client/src/components/Sidebar/index.js
  client/src/reducers/ingredientsReducer.js
  client/src/reducers/resourceReducer.js
  client/src/reducers/searchReducer.js
  client/src/redux/reducers.js
  client/src/service/apiRequests.js
  client/src/styles.scss
Labels: Backend, Frontend

#46 Feature/client/recipe viewed
  client/src/actions/userActions.js
  client/src/components/Navigation/Navigation.jsx
  client/src/components/Navigation/index.js
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
  client/src/components/RecipeList/components/RecipeCard/RecipeConsts.js
  client/src/components/RecipeList/components/RecipeCard/index.js
  client/src/reducers/searchReducer.js
  client/src/reducers/userReducer.js
  client/src/service/apiRequests.js
Labels: Frontend

#47 Exact cooking times when using slider
  api/search.js
  client/src/components/Sidebar/TimeSlider/TimeSlider.jsx
  client/src/reducers/searchReducer.js
Labels: Backend, Frontend

#45 Some responsive display changes
  api/search.js
  client/src/components/MainPage/MainPage.jsx
  client/src/components/Navigation/Navigation.jsx
  client/src/components/Sidebar/TimeSlider/TimeSlider.jsx
  client/src/reducers/searchReducer.js
  client/src/styles.scss
Labels: Backend, Frontend

#48 boost recipes with an actual image
  api/search.js
Labels: Backend

#49 enable fuzziness matching
  api/search.js
Labels: Backend

#51 Added loading tooltip for recipe cards
  api/users/users.js
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
Labels: Backend, Frontend

#54 get_recipes returns full recipes
  api/users/users.js
Labels: Backend

#52 Modal show on card click and loading
  client/public/Spin-1s-300px.gif
  client/src/assets/Spin-1s-300px-transparent.gif
  client/src/assets/Spin-1s-300px.gif
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
  client/src/components/RecipeList/index.js
  client/src/components/Sidebar/Sidebar.jsx
  client/src/styles.scss
Labels: Frontend

#55 First implementation of user page
  api/users/users.js
  client/package.json
  client/src/actions/modeActions.js
  client/src/actions/recipeActions.js
  client/src/actions/userActions.js
  client/src/components/Navigation/Navigation.jsx
  client/src/components/Navigation/index.js
  client/src/components/RecipeList/index.js
  client/src/components/Sidebar/PreferenceSelect/PreferenceSelect.jsx
  client/src/components/Sidebar/PreferenceSelect/index.js
  client/src/components/Sidebar/Sidebar.jsx
  client/src/components/Sidebar/index.js
  client/src/reducers/modeReducer.js
  client/src/reducers/userReducer.js
  client/src/redux/reducers.js
  client/src/styles.scss
  client/yarn.lock
Labels: Backend, Frontend

#57 Filter out ingredients
  api/resources/ingredients.json
Labels: Backend

#56 Logo package
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/assets/cake-pop.svg
  client/src/assets/cropped-logo.svg
  client/src/assets/logo.svg
  client/src/components/Navigation/Navigation.jsx
  client/src/styles.scss
Labels: Backend, Frontend

#63 add '/health' endpoint for health checks
  api/server.js
Labels: Backend

#65 deploy config for elb
  Dockerrun.aws.json
  api/docker.env
  docker-compose.yml
Labels: Backend

#70 add google analytics with ip anonymization
  client/package.json
  client/src/App.jsx
  client/src/common/GoogleAnalytics.jsx
  client/yarn.lock
Labels: Frontend

#72 enable helmet with no dnsPrefetchControl
  api/server.js
Labels: Backend

#38 Explore
  api/explore/explore.js
  api/explore/ingredients_of_the_month.json
  api/explore/next_holiday_calc.js
  api/explore/random_boxes.json
  api/package.json
  api/recommend.js
  api/search.js
  api/server.js
  api/yarn.lock
Labels: Backend

#78 explore proper size and amount args
  api/explore/explore.js
Labels: Backend

#80 wildcard router pass to react router
  api/server.js
Labels: Backend

#81 Implement infinite scroll in search results
  client/package.json
  client/src/actions/recipeActions.js
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/index.js
  client/src/components/Sidebar/MainPageSidebar/MainPageSidebar.jsx
  client/src/reducers/recipeReducer.js
  client/src/styles.scss
  client/yarn.lock
Labels: Frontend

#82 Patch for bug w/ infinite scroll
  client/src/PrivateRoute.jsx
  client/src/components/Sidebar/MainPageSidebar/MainPageSidebar.jsx
  client/src/reducers/recipeReducer.js
  client/src/styles.scss
Labels: Frontend

#84 Image Optimizaition
  client/package.json
  client/public/Spin-1s-300px.webp
  client/public/index.html
  client/public/modernizr-custom.js
  client/src/assets/Spin-1s-300px-transparent.webp
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
  client/src/styles.scss
Labels: Frontend
