Repository recipeify/Recipes, pull requests merged in 2020-07, with the labels that each got.

#88 Added a draft privacy policy
  client/public/privacy.html
Labels: Frontend

#86 hide alt while loading
  client/src/components/RecipeList/RecipeList.jsx
  client/src/styles.scss
Labels: Frontend

#90 Meals by time
  api/explore/explore.js
  api/package.json
Labels: Backend

#91 Force minimum recipes + add type to boxes
  api/explore/explore.js
  api/yarn.lock
Labels: Backend

#97 Fix heb holidays
  api/explore/explore.js
  api/explore/next_holiday_calc.js
Labels: Backend

#83 css, modal representation and save-recipe-login fixes
  client/src/common/helpers.js
  client/src/components/MainPage/MainPage.jsx
  client/src/components/RecipeBook/RecipeBook.jsx
  client/src/components/RecipeList/RecipeList.jsx
  client/src/components/RecipeList/components/RecipeCard/RecipeCard.jsx
  client/src/components/Sidebar/FreeTextSearch/FreeTextSearch.jsx
  client/src/styles.scss
  scraper/__init__.py
  scraper/_utils.py
  scraper/abstractsitemapscraper.py
  scraper/allrecipes.py
  scraper/bbcfood.py
  scraper/bbcgoodfood.py
  scraper/bettycrocker.py
  scraper/bonappetit.py
  scraper/budgetbytes.py
  scraper/cookstr.py
  scraper/copykat.py
  scraper/delish.py
  scraper/epicurious.py
  scraper/food.py
  scraper/foodnetwork.py
  scraper/settings.py
  scraper/tasty.py
Labels: Frontend, scraper

#98 Search cleanups
  api/recommend.js
  api/users/users.js
Labels: Backend

#100 Avatar css fix
  client/src/components/Sidebar/UserPageSidebar/UserPageSidebar.jsx
  client/src/styles.scss
Labels: Frontend

#101 Arch diagram
  api/docs/arch_diagram.py
  api/docs/recipeify_architecture.png
Labels: Backend

#103 user's preferences in explore
  api/explore/explore.js
  api/explore/random_boxes.json
  api/search.js
Labels: Backend

#104 DateString is back
  api/explore/explore.js
Labels: Backend

#106 Explore myrecipes bug fixes
  api/explore/explore.js
  api/search.js
Labels: Backend

#107 Bug Fix: explore check user exists
  api/explore/explore.js
Labels: Backend

#109 Explore time fix
  api/explore/explore.js
  api/explore/random_boxes.json
Labels: Backend

#108 Fix explore star issue with redux
  client/src/actions/exploreActions.js
  client/src/actions/userActions.js
  client/src/components/MainPage/MainPage.jsx
  client/src/components/RecipeBook/RecipeBook.jsx
  client/src/components/Sidebar/PreferenceSelect/PreferenceSelect.jsx
  client/src/reducers/exploreReducer.js
  client/src/styles.scss
Labels: Frontend

#110 explore quickfix
  api/explore/explore.js
  api/explore/random_boxes.json
Labels: Backend
